[submodule "vim/.vim/pathogen/bufexplorer"]
	path = vim/.vim/pathogen/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "vim/.vim/pathogen/goyo.vim"]
	path = vim/.vim/pathogen/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/.vim/pathogen/haskell-vim"]
	path = vim/.vim/pathogen/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "vim/.vim/pathogen/lightline.vim"]
	path = vim/.vim/pathogen/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/pathogen/mru.vim"]
	path = vim/.vim/pathogen/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "vim/.vim/pathogen/nerdtree"]
	path = vim/.vim/pathogen/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/pathogen/open_file_under_cursor.vim"]
	path = vim/.vim/pathogen/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim
[submodule "vim/.vim/pathogen/syntastic"]
	path = vim/.vim/pathogen/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/pathogen/tagbar"]
	path = vim/.vim/pathogen/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/pathogen/tmuxline.vim"]
	path = vim/.vim/pathogen/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/.vim/pathogen/vim-fugitive"]
	path = vim/.vim/pathogen/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/pathogen/vim-yankstack"]
	path = vim/.vim/pathogen/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "vim/.vim/pathogen/vim-zenroom2"]
	path = vim/.vim/pathogen/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "vim/.vim/pathogen/wal.vim"]
	path = vim/.vim/pathogen/wal.vim
	url = https://github.com/dylanaraps/wal.vim
