@import url("file:///home/micah/.cache/wal/colors.css");

[uidensity="compact"]:root {
  --tabs-border: transparent !important;
  --tab-line-color: transparent !important;
  --toolbar-non-lwt-bgimage: !important;
}

/* Tab Bar */
#tabbrowser-tabs {
  color: var(--color4) !important;
  background-color: var(--color0);
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border: none !important;
}

.tab-background[selected="true"] {
  border: 0px !important;
  background-color: var(--color1) !important;
}

.tab-content[selected="true"] {
  color: var(--color0) !important;
}

#navigator-toolbox {
  display: contents !important;
}

#nav-bar {
  background-color: var(--color0) !important;
}

.identity-box,
#urlbar {
  border: none !important;
  color: var(--color5) !important;
  background-color: var(--color0) !important;
}

#toolbar-menubar {
  padding: 0px 0px !important;
}

menubar, toolbar[type="menubar"] {
  -moz-appearance: initial !important;
  background-color: var(--color1) !important;
}

menubar > menu {
  color: var(--color0) !important;
}

statuspanel[type="overLink"],
#back-button,
#forward-button,
.tab-close-button,
.tabs-newtab-button {
  display: none !import;
}
