[Desktop Entry]
Name=Mutt
Comment=IRC Client
GenericName=Mutt
Exec=/home/micah/.config/mutt/mailto
StartupNotify=true
Terminal=false
Type=Application
